.wrapper {
  display: flex;
  height: 100vh;
  background: #f4f5f7;
}

.mainArea {
  flex: 1;
  padding: 20px;
  overflow-x: auto;
}

.listsContainer {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.newListForm {
  background: #e2e4e6;
  padding: 12px;
  border-radius: 10px;
  min-width: 240px;
}

.newListInput {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

.addListBtn {
  width: 100%;
  padding: 10px;
  background: #6a5acd;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.backBtn {
  background: #6c63ff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
}

.backBtn:hover {
  background: #5a52e0;
}

.topBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.inviteBtn {
  background: #2fb910;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.inviteBtn:hover {
  background: #0ea471;
}
